doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/style/main.css')
    link(rel='stylesheet', href='/style/external/bootstrap.min.css')
  body
    block content
    block externalScripts
      script(src="/js/external/jquery.min.js")
    block components
      script(src="/js/components/example/example.js")
    block userScripts
