doctype html
html
  head
    title=title
    link(rel='stylesheet', href='./style/main.css')
    link(rel='stylesheet', href='./style/external/bootstrap.min.css')
  body
    block content
    block userScripts
